.container-contador{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(131,58,180);
  background: linear-gradient(30deg, rgb(22, 139, 132) 30%, rgb(143, 243, 243) 40%, rgb(22, 139, 132) 90%);
  background-size: 300% 300%; 
  animation: colors 15s ease infinite; 
}

.soma{
  font-size: 2.5em;
  width: 25px;
  height: 25px;
  padding-bottom: 4px;
  font-weight: bold;
}

.subtracao{
  font-size: 3em;
  width: 25px;
  height: 25px;
  padding-bottom: 4px;
  font-weight: bold;
}

.sub{
  margin: -10px 0 5px 0px;
}

.som{
  margin: -5px 0 5px 0px;
}

button{ 
  background-color: #888888;
  border: none;
  border-radius: 50%;
}

button:hover{
  background-color: #eceef3;
  transition: all 0.6s;
  cursor: pointer;
}

.valor{ 
  font-size: 40px;
  font-weight: bold;
}

@keyframes colors{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}